<h1>Sign Up Page</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Enter name" required>
    <input type="email" name="email" required placeholder="Email">
    <input type="password" name="password" required placeholder="Password">
    <input type="password" name="confirm_password" required placeholder="Confirm Password">
    <input type="submit" value="Sign In">
</form>